<h1 class="ac_title">Anagram Check</h1>

	<div class="ac_content_form">
 		<div class="ac_content_form_inside">
	 		<%= form_tag anagram_check_path do %>
	 			<div class="ac_content_form_left">
					<%= text_field :first, '', :class =>'ac_textfield1', :value => @first_word %>
					<%= text_field :second, '', :id =>'ac_textfield2', :value => @second_word %>
	  				<% if (@result=="Anagram") %> 
			  			<div class="ac_message">
			  			<%= @result.to_s %>
			  			</div>	
	  				<% end %> 
	  			</div>
	  		<%= submit_tag "Check", :class => 'ac_button', :id => 'ac_button_normal'%> 
  			<% end %>
  		</div>
 		<div class="ac_content_form_right">
 		<div id="ac_image_on_success" >
 				<%= image_tag("bob.png", :alt => "Success") %>
		</div>
		<div>
 	</div>
 





