<!DOCTYPE html>
<html style="">
<head>
  <title>Task</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  </head>
<body >
	<div class="ac_content" >
			<%= yield %>		
	</div>
	<%= javascript_include_tag "prototype"%>

<%= javascript_tag do %>
	  	result1 = '<%=@result.to_s %>';
	   	if(result1=="No Entry")
	  	{
	  	}
	  	else if(result1 == "Anagram")
		{
			var myElement = document.querySelector(".ac_textfield1");
			myElement.style.backgroundColor = "green";
			myElement.style.display = "inline";
			var myElement = document.querySelector("#ac_textfield2");
			myElement.style.backgroundColor = "green";
			myElement.style.display = "inline";
			var myElement1 = document.querySelector("#ac_image_on_success");
			myElement1.style.display = "block";

		}	  
		else
		{
		 	alert("Not Anagrams! Please Try Again");
		 	var myElement = document.querySelector(".ac_textfield1");
			myElement.style.backgroundColor = "#D93600";
			myElement.value="";
			var myElement = document.querySelector("#ac_textfield2");
			myElement.style.backgroundColor = "#D93600";
			myElement.value="";
			var myElement = document.querySelector("ac_image_on_success");
			myElement.style.display = "none";
		
			
		}
  		
					
  <% end %>

</body>
</html>
